.fluent-check-box > .box,
.fluent-check-box:hover > .box,
.fluent-check-box:armed > .box,
.fluent-check-box:focused > .box,
.fluent-check-box:indeterminate > .box {
    -fx-background-color: transparent transparent transparent transparent;
    -fx-padding: 0.5px, 0px, 0.5px, 0px;
}

.fluent-check-box:disabled {
    -fx-opacity: 1.0;
}

.fluent-check-box:selected > .box > .mark,
.fluent-check-box:indeterminate  > .box > .mark {
    -fx-background-color: transparent transparent;
}

.fluent-check-box:indeterminate > .box > .mark {
    -fx-padding: 0.416667em 0.416667em 0.5em 0.5em; /* 5 5 6 6 */
}