.fluent-window-button,
.fluent-window-button:focused,
.fluent-window-button:disabled {
    -fx-background-color: transparent transparent transparent transparent;
    -fx-stroke: transparent;
    -fx-text-fill: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.fluent-window-button:hover {
    -fx-background-color: #ffffff65 #ffffff65 #ffffff65 #ffffff65;
    -fx-stroke: transparent;
    -fx-text-fill: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.fluent-window-button:pressed {
    -fx-background-color: #ffffff25 #ffffff25 #ffffff25 #ffffff25;
    -fx-stroke: transparent;
    -fx-text-fill: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}