.fluent-close-button,
.fluent-close-button:focused,
.fluent-close-button:disabled, {
    -fx-background-color: transparent transparent transparent transparent;
    -fx-stroke: transparent;
    -fx-text-fill: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.fluent-close-button:hover {
    -fx-background-color: #c22b1c #c22b1c #c22b1c #c22b1c;
    -fx-stroke: transparent;
    -fx-text-fill: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.fluent-close-button:pressed {
    -fx-background-color: #b2271d #b2271d #b2271d #b2271d;
    -fx-stroke: transparent;
    -fx-text-fill: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}